---

---

<footer class="bg-[#3B4043] text-white text-xs flex flex-col items-center p-4">
    <h2>合同会社Bearnet</h2>
    <a href="">会社情報</a>
    <a href="">お問い合わせ</a>
    <p>© 2023 Takuma Koike</p>
</footer>