---
const {title} = Astro.props;
---

<h2 class="text-2xl font-bold bg-blue-600 rounded-lg text-white p-3 pl-10 sm:mb-10 mb-5">
    {title}
</h2>

<style>
    h2{
        position: relative;
    }
    h2::before{
        content: "";
        width: 5px;
        height: 60%;
        background-color: white;
        position: absolute;
        left:15px;
        z-index: 10;
        border-radius: 20px;
    }

</style>